.App-header {
  background-color: white;
  border-bottom: 3px solid #e1003c;
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
}

.App-header img {
  height: 200px;
  width: 200px;
}

.App-header h1 {
  color: #e1003c;
  margin-left: 20px;
  font-size: 2rem;
  font-weight: bold;
}


